/*
 * Birdify usage demo
 */

@import "birdify_mixins.scss"; // import Birdify


/* Birds are bound to inline-block styles to prevent wings from doing anything odd */
.birdified{	
	display: inline-block;
}

.birdified .wing{
	display: inline-block;
}

/* Bird-candidates are pre-wrapped spans that are waiting to become birds */
.bird-candidate{
	display: inline;
	span{
		display: inline;
	}
}

/* Definitions for perenthesis-winged birds */
.birdified.with-paren{
	@include flapWings(0.3s, false, true);
}

/* Definitions for text-winged birds */
.birdified.with-text{
	@include flapWings(0.5s, false, false);
}

/* Definition of flightpaths-1 through flightpath-6 */
.birdified{
	@for $i from 1 through 6 {
		&.flightpath-#{$i} {
			@include followFlightPath("birdPath-#{$i}", 1.5s + $i*0.2s);
		}
	}
}

/* Definitions of keyframes for flightpaths 1-6 */
@for $i from 1 through 6{
	$final_x: -800px;
	$final_y: sin($i) * 100px;
	@if (floor($i/2) == $i/2){
		$final_x: 800px;
	}
	$x1: cos($i)*20px;
	$x2: cos($i*4)*40px + $final_x*0.1;
	$y1: 10px + 10px * sin($i);
	$y2: 40px + 20px * sin($i*9);

	@include buildFlightPath("birdPath-#{$i}", $x1,$y1,$x2,$y2,$final_x,$final_y,16);
}

/* Sample Bird definitions */
/*
h3:hover .bird1{
	@include flapWings(0.3s, false, true);
	@include followFlightPath("birdPath1", 1.5s);
}

h3:hover .bird2{
	@include flapWings(0.5s, false, true);
	@include followFlightPath("birdPath2", 2s);
}

h3:hover .bird3{
	@include flapWings(0.4s, false, true);
	@include followFlightPath("birdPath3", 2.25s);
}

h3:hover .text-bird{
	@include flapWings(0.5s, false, false);
	@include followFlightPath("birdPath2", 3s);
}*/

/* Sample bird paths */
/*@include buildFlightPath("birdPath1", -10px,10px,50px,60px,500px,10px,16);
//@include buildFlightPath("birdPath2", 10px,400px,-50px,40px,-500px,40px,16);
//@include buildFlightPath("birdPath3", -10px,30px,50px,150px,500px,170px,16);*/

